<center>
    <img src="https://gitlab.com/ibm/skills-network/courses/placeholder101/-/raw/master/labs/module%201/images/IDSNlogo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

# Peer Review Assignment - Data Engineer - Extract API Data

## Objectives

In this part you will:

*   Collect exchange rate data using an API
*   Store the data as a CSV

For this lab, we are going to be using Python and several Python libraries. Some of these libraries might be installed in your lab environment or in SN Labs. Others may need to be installed by you. The cells below will install these libraries when executed.

In [1]:
#!pip install pandas
#!pip install requests

## Imports

Import any additional libraries you may need here.

In [2]:
import requests
import pandas as pd

## Extract Data Using an API

Using ExchangeRate-API we will extract currency exchange rate data. Use the below steps to get the access key and to get the data.

1.  Open the url : [https://exchangeratesapi.io/](https://exchangeratesapi.io/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2021-01-01) and create a free account.
2.  Once the account is created. You will get the Get the Free API key option on the top as shown below:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/Images/getapi.png"/>

3.  Copy the API key and use in the url in Question 1.

### Call the API

Using the `requests` library call the endpoint given above and save the text, remember the first few characters of the output:

In [11]:
# Write your code here
url = "http://api.exchangeratesapi.io/v1/latest?base=EUR&access_key=bc7b47c0b0ef4ab5fbf0c481743e5ed5" 
#Make sure to change ******* to your API key.
response = requests.get(url)
response.json()

{'success': True,
 'timestamp': 1645718162,
 'base': 'EUR',
 'date': '2022-02-24',
 'rates': {'AED': 4.085888,
  'AFN': 102.174787,
  'ALL': 120.842545,
  'AMD': 534.130632,
  'ANG': 2.005433,
  'AOA': 553.240319,
  'ARS': 119.47447,
  'AUD': 1.565771,
  'AWG': 2.002614,
  'AZN': 1.905144,
  'BAM': 1.947634,
  'BBD': 2.246585,
  'BDT': 95.662464,
  'BGN': 1.955723,
  'BHD': 0.419375,
  'BIF': 2242.615847,
  'BMD': 1.112409,
  'BND': 1.506248,
  'BOB': 7.660724,
  'BRL': 5.717226,
  'BSD': 1.112757,
  'BTC': 3.0879485e-05,
  'BTN': 84.145136,
  'BWP': 12.915515,
  'BYN': 3.086638,
  'BYR': 21803.209621,
  'BZD': 2.242942,
  'CAD': 1.431631,
  'CDF': 2242.057485,
  'CHF': 1.031081,
  'CLF': 0.032765,
  'CLP': 904.055233,
  'CNY': 7.039547,
  'COP': 4378.262477,
  'CRC': 712.75614,
  'CUC': 1.112409,
  'CUP': 29.478829,
  'CVE': 109.810781,
  'CZK': 24.959222,
  'DJF': 198.100581,
  'DKK': 7.441625,
  'DOP': 61.79019,
  'DZD': 157.422196,
  'EGP': 17.45403,
  'ERN': 16.686151,
  'ETB': 57.033488,
  'EUR': 1,
  'FJD': 2.362862,
  'FKP': 0.809745,
  'GBP': 0.837405,
  'GEL': 3.30938,
  'GGP': 0.809744,
  'GHS': 7.397265,
  'GIP': 0.809744,
  'GMD': 59.402105,
  'GNF': 9994.359523,
  'GTQ': 8.581893,
  'GYD': 232.816055,
  'HKD': 8.687967,
  'HNL': 27.399679,
  'HRK': 7.55192,
  'HTG': 115.79586,
  'HUF': 371.133,
  'IDR': 16080.757023,
  'ILS': 3.644284,
  'IMP': 0.809744,
  'INR': 84.347885,
  'IQD': 1623.956711,
  'IRR': 47027.075619,
  'ISK': 141.988106,
  'JEP': 0.809745,
  'JMD': 173.148228,
  'JOD': 0.788718,
  'JPY': 128.583875,
  'KES': 126.681656,
  'KGS': 94.332935,
  'KHR': 4524.120488,
  'KMF': 484.22964,
  'KPW': 1001.167963,
  'KRW': 1346.771074,
  'KWD': 0.337027,
  'KYD': 0.927181,
  'KZT': 521.453072,
  'LAK': 12736.287429,
  'LBP': 1682.588915,
  'LKR': 225.315156,
  'LRD': 171.477954,
  'LSL': 16.798274,
  'LTL': 3.284654,
  'LVL': 0.672885,
  'LYD': 5.105498,
  'MAD': 10.555459,
  'MDL': 20.083981,
  'MGA': 4437.953773,
  'MKD': 61.361187,
  'MMK': 1978.507866,
  'MNT': 3180.188528,
  'MOP': 8.949817,
  'MRO': 397.129698,
  'MUR': 49.049996,
  'MVR': 17.186801,
  'MWK': 894.187877,
  'MXN': 22.998935,
  'MYR': 4.674901,
  'MZN': 71.005147,
  'NAD': 16.794717,
  'NGN': 462.918008,
  'NIO': 39.451395,
  'NOK': 10.087733,
  'NPR': 134.631012,
  'NZD': 1.676388,
  'OMR': 0.428218,
  'PAB': 1.112658,
  'PEN': 4.15265,
  'PGK': 3.940851,
  'PHP': 57.277979,
  'PKR': 196.385819,
  'PLN': 4.709318,
  'PYG': 7709.417873,
  'QAR': 4.05023,
  'RON': 4.949332,
  'RSD': 117.634984,
  'RUB': 97.453117,
  'RWF': 1157.440765,
  'SAR': 4.173895,
  'SBD': 8.989198,
  'SCR': 16.017901,
  'SDG': 495.021513,
  'SEK': 10.694764,
  'SGD': 1.513097,
  'SHP': 1.532232,
  'SLL': 12853.882052,
  'SOS': 651.871614,
  'SRD': 22.97068,
  'STD': 23024.613197,
  'SVC': 9.735381,
  'SYP': 2794.37029,
  'SZL': 16.999672,
  'THB': 36.553866,
  'TJS': 12.557557,
  'TMT': 3.89343,
  'TND': 3.235443,
  'TOP': 2.534953,
  'TRY': 15.687904,
  'TTD': 7.563268,
  'TWD': 31.342442,
  'TZS': 2574.113952,
  'UAH': 33.2675,
  'UGX': 3924.765674,
  'USD': 1.112409,
  'UYU': 47.45544,
  'UZS': 12062.704062,
  'VEF': 237866589849.4126,
  'VND': 25410.194683,
  'VUV': 126.449065,
  'WST': 2.905993,
  'XAF': 653.208106,
  'XAG': 0.0494,
  'XAU': 0.000615,
  'XCD': 3.00634,
  'XDR': 0.793461,
  'XOF': 653.254889,
  'XPF': 117.915585,
  'YER': 278.380154,
  'ZAR': 17.247838,
  'ZMK': 10013.015842,
  'ZMW': 19.699567,
  'ZWL': 358.195133}}

### Save as DataFrame

Using the data gathered turn it into a `pandas` dataframe. The dataframe should have the Currency as the index and `Rate` as their columns. Make sure to drop unnecessary columns.

In [23]:
# Turn the data into a dataframe
df = pd.DataFrame(response.json())
df

     success   timestamp base        date         rates
AED     True  1645718162  EUR  2022-02-24      4.085888
AFN     True  1645718162  EUR  2022-02-24    102.174787
ALL     True  1645718162  EUR  2022-02-24    120.842545
AMD     True  1645718162  EUR  2022-02-24    534.130632
ANG     True  1645718162  EUR  2022-02-24      2.005433
..       ...         ...  ...         ...           ...
YER     True  1645718162  EUR  2022-02-24    278.380154
ZAR     True  1645718162  EUR  2022-02-24     17.247838
ZMK     True  1645718162  EUR  2022-02-24  10013.015842
ZMW     True  1645718162  EUR  2022-02-24     19.699567
ZWL     True  1645718162  EUR  2022-02-24    358.195133

[168 rows x 5 columns]

In [24]:
# Drop unnescessary columns
df.drop(columns=['success','base','timestamp','date'], inplace=True)
df

            rates
AED      4.085888
AFN    102.174787
ALL    120.842545
AMD    534.130632
ANG      2.005433
..            ...
YER    278.380154
ZAR     17.247838
ZMK  10013.015842
ZMW     19.699567
ZWL    358.195133

[168 rows x 1 columns]

### Load the Data

Using the dataframe save it as a CSV names `exchange_rates_1.csv`.

In [29]:
import os
from os import listdir

In [30]:
os.listdir()

['source3.json',
 'dealership_data',
 'source2.csv',
 'source3.csv',
 'dealership_logfile.txt',
 'source2.json',
 'transformed_data.csv',
 'API_Engineer_Peer_Review_Assignment_Extract.ipynb',
 'ExtractTransformLoad_V2.ipynb',
 'datasource.zip',
 'source.zip.2',
 'source.zip',
 'source1.json',
 'Webscraping_Engineer_Peer_Review_Assignment.ipynb',
 'source3.xml',
 'source1.xml',
 'source2.xml',
 'File Name.json',
 '.ipynb_checkpoints',
 'logfile.txt',
 'source.zip.1',
 'dealership_transformed_data.csv',
 'source1.csv']

In [25]:
# Save the Dataframe
df.to_csv("DataEngineerIBM/Course3/exchange_rates_1.csv")

FileNotFoundError: [Errno 2] No such file or directory: 'DataEngineerIBM/Course3/exchange_rates_1.csv'

Your CSV should be in this format with more currencies

|     | Rates      |
| --- | ---------- |
| AED | 4.398618   |
| AFN | 92.917693  |
| ALL | 123.099093 |
| AMD | 621.935674 |
| ANG | 2.149648   |

## Authors

Ramesh Sannareddy, Joseph Santarcangelo and Azim Hirjani

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2021-04-15        | 0.2     | Malika            | Updated the lab from USD to EUR    |
| 2020-11-25        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).